
@{
    ViewBag.Title = "Index";
}
<div style="margin:35px 250px">   
    <a style="float:right" btn btn-default" href="@Url.Action("Nuevo","Producto")">Nuevo Producto</a>
    <h2>Listado de los productos</h2>
</div>


